h3,div,start,div,reg,div,login{
	height:54px;
	line-height:54px;
	padding-left:20px;
	font-size:40px;
	padding:5px;
	margin: 20px;
	text-align: center;}
* {margin: 0; padding:0;}
h3{
	height:34px;
	line-height:34px;
	padding-left:20px;
	font-size:40px;}
.dataArea{
	padding:5px;}
.dataArea input{
	width:200px;
	height:20px;
	line-height:20px;
	border:#CCC solid 1px;}
#persistent{ vertical-align:top;}
.subArea{
	padding-left:105px;
	margin-top:10px;
}
.btn{
	background:url(images/btn.gif) no-repeat;
	width:100px;
	height:25px;
	border:0;
	cursor:pointer;
	/*color:#FFF;*/
	font-weight:bold;}
body{
	position:fixed;  
	top: 0;  
	left: 0;
	width:100%;
	height:100%;
	min-width: 1000px;
	z-index:-10;
	zoom: 1;
	background-color: #fff;
	background:url(images/cloud.JPEG) no-repeat;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	background-position: center 0;
}
